@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    width: 100vw;
    height: 100vh;
    background-image: url(img/Fondo-Arco-Iris.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    color: #d81b60;
    font-size: 35px;
    text-shadow: 1px 1px #fafafa, 1px -1px #fafafa, -1px -1px #fafafa, -1px 1px #fafafa;
}

.grilla {
    position: relative;
    margin: auto;
}

#modal-bienvenida {
    position: absolute;
    z-index: 11111;
}

#modal-tarjeta {
    width: 500px;
}

#texto {
    margin: 0 25px 0 25px;
}

#modal-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#modal-controles {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#modal-controles h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

#boton-jugar {
    background-color: #d81b60;
    margin-left: 350px;
}

#texto-juegoTerminado {
    display: flex;
    justify-content: center;
}

#nuevo-juego {
    margin-left: 110px;
}

.is-primary {
    background-color: #d81b60 !important;
}


/* saco flex y pongo div ubicado con position*/

.grilla>div {
    position: absolute;
    transition: top 0.5s, left 0.5s;
    font-size: 25px;
}

.grilla-dificil {
    width: 370px;
    height: 370px;
    background-color: rgba(146, 141, 141, 0.562);
    border: 2px solid #fafafa;
    margin: auto;
    border-radius: 10px;
}

.grilla-media {
    width: 420px;
    height: 420px;
    background-color: rgba(146, 141, 141, 0.562);
    border: 2px solid #fafafa;
    margin: auto;
    border-radius: 10px;
}

.grilla-facil {
    width: 460px;
    height: 460px;
    background-color: rgba(146, 141, 141, 0.562);
    border: 2px solid #fafafa;
    margin: auto;
    border-radius: 10px;
}


/* MODALES */

#modal-bienvenida {
    position: absolute;
    z-index: 11111;
}

#modal-tarjeta {
    width: 500px;
}

#texto {
    margin: 0 25px 0 25px;
}

#modal-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#modal-controles {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#modal-controles h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

#boton-jugar {
    background-color: #d81b60;
    margin-left: 350px;
}

.boton-dificultad {
    background-color: #d81b60 !important;
}

#modal-card-foot {
    justify-content: center;
}


/* -------------------------------- FIN MODALES */

.seleccionar {
    border: solid 3px rgb(31, 29, 29);
    border-radius: 3px;
}


/* agregue esta clase para bajar un poco el modal de nuevo juego */

.modal-nuevo-juego {
    top: 30px;
}

.ocultar {
    display: none;
}